<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head') %>
    <script src="/js/timer.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/sockets/room.js"></script>
</head>
<body>

    <%- include('../partials/header') %>

    <div class="container">
        <% if (typeof name !== 'undefined') { %>
            <%- include('../partials/navbar') %>
        <% } %>
        
        <div class="row flex-row-reverse mt-4">

            <div class="col-sm-8">
                <h3>B L2 D R2 U R2 U L2 D' B2 U F2 U2 F' D L' D' B D B R</h3>
                <p id="time" class=" h4 text-center" style="margin-top: 1em">0.00</p>
                <br>
                <p class="text-center">
                    <button type="button" class="btn btn-secondary" disabled>+2</button>
                    <button type="button" class="btn btn-danger" disabled>DNF</button>
                    <button type="button" class="btn btn-primary" disabled>SEND TIME</button>
                </p>
            </div>

            <div class="col-sm-4" style="background-attachment: lightgray;">
                <h3>Room id: <%= id %></h3>
                <hr>
                <p>NAME: Jupitersi</p>
                <p>TYPE: 3x3</p>
                <p>TIMEOUT: 30s</p>
            </div>
                
        </div>
        <h3 style="margin-top:1em">USERS TIMES</h3>
        <div class="row">
            
            <table class="table table-bordered table-responsive" style="max-height:50vh">
            
                <tr>
                    <th>On.</th>
                    <% for(var i=1; i<=4; i++){ %>
                        <th>Johnfsdfsf <%= i %></th>
                    <% } %>
                </tr>
                <%for(var j=1; j<=7; j++) { %>
                <tr>
                    <td><%= j %></td> 
                    <% for(var i=1; i<=4; i++){ %>
                        <td><%= Math.round(Math.random()*1000)/100 %></td>
                    <% } %>
                </tr>

                <% } %>
            </table>
                
        </div>
        
    </div>

    <%- include('../partials/footer') %>
</body>
</html>